:root {
  --red: #D9534F;
  --white: #ffffff;
  --green:#96CEB4;
  --orange:#FFAD60;
  --yellow:#FFEEAD;
}
img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none;
}
* { 
	box-sizing: border-box;
  text-decoration: inherit;
  color:inherit;
  font-family: 'Open Sans', sans-serif;
  user-select:none;
}
html, body {
	min-height: 100%;
}
	
body {
	text-rendering: optimizeLegibility;
}

.centerMe{
  display:flex;
  align-items: center;
  justify-content: center;
}

.fitToContent{
  height:100%;
  width:100%;
}
#header{
  background-color: var(--red);
  height:10vh;
  color:white;
  font-size:100%;
}
#content{
  height:86vh;
}
#footer{
  background-color: var(--red);
  height:4vh;
  color:white;
}
.header1{
  font-size:200%;
  text-align:center;
  padding:2% 0 2% 0;
}
.levelContainer{
  padding:5%;
  gap:5%;
  flex-wrap: wrap;}
.levelButton{
  padding:5%;
}
.gameContainer{

  height:100%;
}

.gameLvContainer{
  position:relative;
  height:85%;
  overflow:auto;
  padding:0;
  margin:0;
}
#miniMenu{
  position:relative;
  left:0px;
  top:0px;
  background-color: var(--white);
  width:max-content;
  z-index: 10;
  border-radius: 4%;
  transform:scale(0);
}
#miniMenu div{
  padding:5%;
  width:5rem;
  font-size:100%;
}
#miniMenu div:hover{
  background-color: rgb(240, 240, 240);
}

#miniMenuOverlay{
  /* background-color: hsl(152, 36%, 70%); */
  position:fixed;
  z-index:9;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

#gamePlayContainer{
  position:absolute;
  top:0;
  left:0;
  width:1300px;
  max-width:150%;
}
#gamePlayContainer img{
  width:100%;
}
.gameBar{
  height:15%;
  display:flex;
  align-items: center;
  gap:2%;
}

#toFindContainer{
  display:flex;
  width:12rem;
  gap:3%;
  align-items: center;
  padding:0 1% 0 1%;
  height:100%;
}
#toFindContainer div{
  display:flex;
  width:40%;
  flex-direction: column;
}
#toFindContainer div img{
  height:fit-content;
  width:3rem;
  min-width:25px;
}
.gameBar button{
  margin-left:auto;
  background-color:inherit;
  font-style:inherit;
  width:10%;
  height:100%;
  border-style:none;
}
.gameBar button:hover{
  background-color:rgb(240, 240, 240);
}
#timerContainer{
  height:100%;
  width:5rem;
  display:flex;
  align-items: center;
}
#msgContainer{
  height:100%;
  width:10%;
  display:flex;
  align-items: center;
}

#gameOverScreenOverlay{
  position:absolute;
  background-color:rgba(0, 0, 0, 0.692);
  z-index:10;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform:scale(0.2);
}

#gameOverScreen{
  color:white;
  flex-direction:column;
}

.bigText{
  font-size:5rem;
}

#gameOverScreen input{
  margin-top:5%;
  color:black;
}

#gameOverScreen button{
  margin-top:5%;
  width:10rem;
  height:5rem;
  background-color:inherit;
  font-family: inherit;
  font-size:1.3em;
}

#lvSelectContainer{
  border-style:solid;
}
.lvSelectItem{
  height:10rem;
  width:10rem;
  /* border-style:solid; */

}

.lvSelectItem img{
  height:100%;
  width:100%;  
}
.lvSelectItem img:hover{
  filter:brightness(0.8);
}


.highScoreItem {
  display:flex;
}
.highScoreItem div{
  flex:1;
  text-align: left;
}

#highScoreItemContainer{
  overflow-y:scroll;
  height:5em;
}