:root {
  --red: #D9534F;
  --white: #ffffff;
  --green:#96CEB4;
  --orange:#FFAD60;
  --yellow:#FFEEAD;
}
* { 
	box-sizing: border-box;
  text-decoration: inherit;
  color:inherit;
  font-family: 'Open Sans', sans-serif;
}
html, body {
	min-height: 100%;
}
	
body {
	text-rendering: optimizeLegibility;
}

.centerMe{
  display:flex;
  align-items: center;
  justify-content: center;
}

.fitToContent{
  height:100%;
  width:100%;
}
#header{
  background-color: var(--red);
  height:10vh;
  color:white;
  font-size:300%;
}
#content{
  height:86vh;
}
#footer{
  background-color: var(--red);
  height:4vh;
  color:white;
}
.header1{
  font-size:300%;
  text-align:center;
  padding:5% 0 5% 0;
}
.levelContainer{
  padding:5%;
  gap:5%;
  flex-wrap: wrap;
}
.levelButton{
  padding:5%;
}